/*  your css code here. If applicable */
 .container {
      text-align: center;
      margin-top: 20px;
    }

    .board {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      gap: 5px;
      justify-content: center;
      margin-top: 20px;
    }

    .cell {
      width: 100px;
      height: 100px;
      font-size: 36px;
      cursor: pointer;
      background: #ffc0cb;
      border: 1px solid #000;
    }

    .hidden {
      display: none;
    }